
<h1>Welcome to CoinCraft</h1>

<div>
  <p><%= link_to 'Categories', categories_path %></p>
  <p><%= link_to 'Transactions', transactions_path %></p>
</div>
<script type="text/javascript">
  setTimeout(function () {
    window.location.href = '/'; // Replace with your homepage URL
  }, 3000); // 3000 milliseconds = 3 seconds
</script>
