<div class="container text-center mx-auto">
  <h1>Welcome to CoinCraft</h1>
  <div class="mt-4">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary white-text mb-2' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-link white-text' %>
    </div>
  </div>
</div>
