<div class="container-fluid card text-center d-flex flex-column justify-content-between" style="height: 95vh; max-width: 400px;">
  <div class="flex-grow-1 d-flex flex-column justify-content-center">
    <h1 class="proxima-nova">CoinCraft</h1>

  </div>
  <div class="mt-4">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary white-text mb-2',style:'background-color: #3778c2;'  %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-link white-text'  %>
    </div>
  </div>
</div>
