<div class="container text-center mx-auto">
  <h1>Welcome to CoinCraft</h1>
  <div class="mt-4">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-primary">
      <%= link_to 'Sign In', new_user_session_path %>
    </button>
    <button type="button" class="btn btn-primary">
      <%= link_to 'Sign Up', new_user_registration_path %>
    </button>
  </div>
</div>
</div>
